@import url('https://fonts.googleapis.com/css2?family=Abel&family=Crimson+Text&display=swap');
:root {
  font-family: 'Hack', monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #040F16;
  background-color: #FBFBFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

img {
  width: 20px;
}